<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="WitsAndWagersEntities" connectionString="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAng/v6ME4oEaXf9vjlE6rmgAAAAACAAAAAAAQZgAAAAEAACAAAAArdba5ewW9zROO6EkpZMKS64rBav8zMvagGQ7mYZEbLAAAAAAOgAAAAAIAACAAAACFfFU70htow/Pb28JHsgzfq9S+l2c7KFAwKoNrBhauCpAAAADfeVMsTrJTMFzVtU3qJYbHAP/R8ti6x/edw7Vd5ODh+swXULhnq373PWcbHsbQw9bHKCjEPtbg66txQc4jX0yFgBQ0DNY28an2W7ePf1g7jlwcDpwl7D1aNdAZkPgI+VahfXIBixs4GipSRQr4+GPXR2Fy00vMhQe0O21z87/EIFDbKoNXVWkvMtSmWeRnrVtAAAAAaSqrshu+Y2f0CrkIUtl/IATmkFWlC/RWmbr705BRTRXRSj1L19//thfGZtDx9pRNKxDrYnad4aXQP1NYGn5HSg==" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>