<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="WitsAndWagersEntities" connectionString="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlLfB+MZOWEmb7meEVV2O7AAAAAACAAAAAAAQZgAAAAEAACAAAADiGKXwUxr5D0LqVouEtAHrxgFE64EUgqgftlN5le1PJwAAAAAOgAAAAAIAACAAAACAxhhp6ClVvCXe08U0Fv1B7oCoLTF3FGhn5leU3kHRr5AAAACi0Oig5gC/D1C54g8O6iu2KuW3enzmVCvs6/nx+0R7ymgzxGjbshHi9UkFxx1Gee4VrXQBi89FDr7nEDIz/XdF7XEpMFdtJmDKRnV26tolq9jjDRDKNtIOq1WSdnzaeGE6SxRwi34CNgjvJvUlzaXcSCkfhLpXbGFBM2AJDq+4m1II4yAMPoSta7rmNQWf9K9AAAAAfaW+pMfJjRL791H8PAo90unatomqpBaqRV84GkCRHPNRwQvhQPQxqhbapij7q87eAoHz0kKLGfWm3uKOMUdRIQ==" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>