<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>

		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<!---->
		<bindings>
			<netTcpBinding>
				<binding>
					<security mode="None">
						<message clientCredentialType="None"/>
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<!---->
		<services>
			<service behaviorConfiguration="mexBehavior" name="WitsClasses.PlayerManager">
				<endpoint address="PlayerManager" binding="netTcpBinding" contract="WitsClasses.Contracts.IPlayerManager" />
				<endpoint address="ConnectedUsers" binding="netTcpBinding" contract="WitsClasses.Contracts.IConnectedUsers" />
				<endpoint address="GameService" binding="netTcpBinding" contract="WitsClasses.Contracts.IGameManager" />
				<endpoint address="GameService" binding="netTcpBinding" contract="WitsClasses.Contracts.IChatManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082" />
						<add baseAddress="net.tcp://localhost:8081" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<connectionStrings>
		<add name="WitsAndWagersEntities" connectionString="metadata=res://WitsClasses/WitsDB.csdl|res://WitsClasses/WitsDB.ssdl|res://WitsClasses/WitsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KIDA\SQLEXPRESS;initial catalog=WitsAndWagers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>