<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAftA2n6e9h0m+X/Wf4UJm8wQAAAACAAAAAAAQZgAAAAEAACAAAADCsMDuu7THEjPUzucoTUcFliUzYNSIh+FglafeiuuOrwAAAAAOgAAAAAIAACAAAAAg3HOOwejTOblA2p9NTGTs2FLdTDsATxYik4ON+J58ajAAAACN0DtsDjR8vEXedy734wzUfbgOhIRn1ywmKbhbsLjfoqVkaHDzVQjFtKzWcrUJ1TJAAAAAl7dGHdgL/nDQi0IoyODlDXWQK5RXcbp9cci0i3dMTcd8Qv0ViimsZnGsBt93aVFank8YKMl6mlTkFkoDlQ5hqA==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>